os:
  - linux

language: php

php:
  - '7.3'
  - '8.0'
  - '8.1'

env:  
  - LARAVEL_VERSION=6.*  
  - LARAVEL_VERSION=7.*
  - LARAVEL_VERSION=8.*
  - LARAVEL_VERSION=9.*

matrix:
  fast_finish: true
  exclude:    
    - php: 7.3      
      env: LARAVEL_VERSION=9.*

before_script:
  - travis_retry composer self-update
  - travis_retry composer install --prefer-source --no-interaction
  - if [ "$LARAVEL_VERSION" != "" ]; then composer require --dev "laravel/laravel:${LARAVEL_VERSION}" --no-update; fi;  
  - composer update
  
script:
  - vendor/bin/phpunit --coverage-text